# Dependencies
node_modules/

# Built assets
dist/
release/*
!release/latest-linux.yml
build/

# Environment variables
.env
.env.*

# Logs
*.log
audit_log.md

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Electron packaging
**/electron-builder.yml
**/builder-debug.yml
**/app.asar
**/app.asar.unpacked

# OS
.DS_Store
Thumbs.db

# Vite
.vite/

# Misc
*.tmp
*.bak
